@page "/add-set"
@inject SetService SetService
@inject NavigationManager Navigation

<h3>Set</h3>
<MudTextField @bind-Value="CurrentSet.Year" Label="Year" Variant="Variant.Text"></MudTextField>
<MudTextField @bind-Value="CurrentSet.Number_Of_Parts" Label="Number" Variant="Variant.Text"></MudTextField>
<MudTextField @bind-Value="CurrentSet.Name" Label="Name" Variant="Variant.Text"></MudTextField>
<MudTextField @bind-Value="CurrentSet.Set_Number" Label="Set Number" Variant="Variant.Text"></MudTextField>
<MudTextField @bind-Value="CurrentSet.Preview_URL" Label="Preview URL" Variant="Variant.Text"></MudTextField>
<MudButton OnClick="AddNewSet">Add Set</MudButton>
@code {

	public Set CurrentSet { get; set; } = new();

	public async Task AddNewSet()
	{
		await SetService.AddSet(CurrentSet);
		CurrentSet = new();
		Navigation.NavigateTo("/sets");
	}

}
