@page "/edit-set"
@page "/edit-set/{Id:int}"
@inject SetService SetService
@inject NavigationManager Navigation
@inject CategoryService CategoryService
@inject IDialogService DialogService

@if(Id is null){
	<h1>Add A New Set</h1>
}
else{
	<h1>Edit Set: @CurrentSet.Name</h1>
}
<MudPaper class="pa-5 my-2" Outlined Width="80%">
	<MudItem Class="my-3">
		<MudInputLabel>Set Number</MudInputLabel>
		<MudTextField @bind-Value="CurrentSet.Set_Number" Variant="Variant.Text" />
	</MudItem>
	<MudItem Class="my-3">
		<MudInputLabel>Name</MudInputLabel>
		<MudTextField @bind-Value="CurrentSet.Name" Variant="Variant.Text" />
	</MudItem>
	<MudItem Class="my-3">
		<MudInputLabel>Year</MudInputLabel>
		<MudTextField @bind-Value="CurrentSet.Year" Variant="Variant.Text"/>
	</MudItem>
	<MudItem Class="my-3">
		<MudInputLabel>Number</MudInputLabel>
		<MudTextField @bind-Value="CurrentSet.Number_Of_Parts" Variant="Variant.Text"/>
	</MudItem>
	<MudItem Class="my-3">
		<MudInputLabel>Preview Image URL</MudInputLabel>
		<MudTextField @bind-Value="CurrentSet.Preview_Image_URL" Variant="Variant.Text"/>
	</MudItem>
	<MudItem Class="my-3">
		<MudInputLabel>Instructions URL</MudInputLabel>
		<MudTextField @bind-Value="CurrentSet.Instructions_URL" Variant="Variant.Text"/>
	</MudItem>
	<MudItem Class="my-4">
		<MudInputLabel>Categories</MudInputLabel>

		<MudChipSet @bind-SelectedValues="categories" SelectionMode="SelectionMode.MultiSelection" CheckMark>
			@foreach(Category category in CategoryList)
			{
				<MudChip Value="category" Text="@category.Name" Style="@($"background:{category.Color};")" />
			}

		</MudChipSet>
	</MudItem>
	<MudButton Color="Color.Primary" OnClick="SaveSet" Class="my-3">Save Set</MudButton>
	@if(Id is not null)
	{
		<MudButton Color="Color.Primary" OnClick="OpenDeleteDialog" Class="my-3">Delete Set</MudButton>
	}

	<MudButton @onclick="OpenDialogAsync" Color="Color.Primary">
		Edit Minifigures
	</MudButton>
</MudPaper>

@code {

    [Parameter]
    public int? Id { get; set; }
    public Set CurrentSet { get; set; } = new();
    public List<Category> CategoryList { get; set; } = [];
    private IReadOnlyCollection<Category> categories = [];

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
        {
            var set = await SetService.GetSetById((int)Id);
            if (set is not null)
            {
                CurrentSet = set;		
                categories = new ReadOnlyCollection<Category>(CurrentSet.Categories.ToList());
            }
        }
        CategoryList = await CategoryService.GetCategoriesAsync();
    }

    public async Task SaveSet()
    {
        CurrentSet.Categories = categories.ToList();

        if(Id is not null)
        {
            await SetService.UpdateSet(CurrentSet);
        }
        else
        {
            await SetService.AddSet(CurrentSet);
        }

        CurrentSet = new();
        Navigation.NavigateTo("/sets");
    }

    public async Task OpenDeleteDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<ConfirmDialog>
		{
			{ x => x.ContentText, $"Do you really want to delete {CurrentSet.Name}? This process cannot be undone." },
			{ x => x.ButtonText, "Delete" },
			{ x => x.Color, Color.Error },
		};

        var dialog = await DialogService.ShowAsync<ConfirmDialog>("Confirm Deletion", parameters, options);
        var result = await dialog.Result;

        if (result is not null && !result.Canceled)
        {
            await SetService.DeleteSet(CurrentSet);
            CurrentSet = new();
            Navigation.NavigateTo("/sets");
        }
    }

    private async Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.Large, CloseButton = true };
        var parameters = new DialogParameters<MinifigureBrowser>
        {
            { x => x.PreselectedMinifigures, CurrentSet.Minifigures},
        };
        IDialogReference? dialog = await DialogService.ShowAsync<MinifigureBrowser>("Minifigure Browser", parameters, options);
        DialogResult? result = await dialog.Result;
  
        if (result is not null && !result.Canceled)
        {
            var minifigures = (HashSet<Minifigure>)result.Data!; 
            CurrentSet.Minifigures = minifigures.ToList();
        }
    }
}
