@page "/sets"
@inject SetService SetService

<h1>List of Sets</h1>	

<MudGrid>
	@foreach(Set set in SetList) {
		<MudItem>
			<SetCard Set="set"/>
		</MudItem>
	}
</MudGrid>
	
@code {

	public List<Set> SetList { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		SetList = await SetService.GetSetList();
	}
}
