@page "/sets"
@inject SetService SetService

<h1>List of Sets</h1>	

<MudGrid>
	@foreach(Set i in SetList) {
		<MudItem xs="12" sm="6" lg="3">
			<SetCard Set="i"/>
		</MudItem>
	}
</MudGrid>
	
@code {

	public List<Set> SetList { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		SetList = await SetService.GetSetList();
	}
}
