@page "/minifigures"
@inject MinifigureService MinifigureService

<h1>Minifigures</h1>

<MudGrid>
	@foreach (var mf in MinifigureList)
	{
		<MudItem>
			<MinifigureCard Minifigure="mf" />
		</MudItem>
	}
</MudGrid>

@code {
	public List<Minifigure> MinifigureList { get; set; } = [];

	protected async override Task OnInitializedAsync()
	{
		MinifigureList = await MinifigureService.GetMinifiguresAsync();
	}
}
