@page "/characters"
@inject CharacterService CharacterService
@inject NavigationManager Navigation
<h3>Characters</h3>

@foreach(var character in CharacterList)
{
	<MudLink OnClick="() => NavigateToDetailsPage(character.Id)">@character.Name</MudLink>
	@foreach(var minifigure in character.Minifigures)
	{
		<MudChip Color="Color.Primary" T="string">@minifigure.Name</MudChip>
	}
	<MudDivider/>
}

@code {
	public List<Character> CharacterList {get; set; } = [];

	protected async override Task OnInitializedAsync()
	{
		CharacterList = await CharacterService.GetCharactersAsync();
	}

	public void NavigateToDetailsPage(int id) => Navigation.NavigateTo("/characters/" + id);
}
