@page "/characters"
@inject CharacterService CharacterService
@inject NavigationManager Navigation
@inject IDialogService DialogService

<h1>Characters</h1>

<MudButton Class="mb-3" OnClick="OpenAddCharacterDialog" Variant="Variant.Filled" Color="Color.Primary">
	Add Character
</MudButton>
<MudSpacer />
@foreach(var character in CharacterList)
{
	<MudLink Typo="Typo.h5" OnClick="() => NavigateToDetailsPage(character.Id)">@character.Name</MudLink>
	<MudDivider/>
}

@code {
	public List<Character> CharacterList {get; set; } = [];

	protected async override Task OnInitializedAsync()
	{
		CharacterList = await CharacterService.GetCharactersAsync();
	}

	public void NavigateToDetailsPage(int id) => Navigation.NavigateTo("/characters/" + id);

	public async Task OpenAddCharacterDialog()
	{
		var options = new DialogOptions { CloseOnEscapeKey = true };
		var parameters = new DialogParameters<EditCharacterDialog>
		{
			{x => x.Character, new()}
		};

		var dialog = await DialogService.ShowAsync<EditCharacterDialog>("Add Character Dialog", parameters, options);
		var result = await dialog.Result;

		if(result is not null && !result.Canceled)
		{
			Navigation.NavigateTo(Navigation.Uri, true);
		}
	}
}
