@page "/characters/{Id:int}"
@inject CharacterService CharacterService
@inject SetService SetService
@inject IDialogService DialogService
@inject NavigationManager Navigation

@if(Character is null)
{
	<h1>Character Not Found</h1>

}
else
{
	<h1 class="mb-3">@Character.Name 
		<MudIcon Color="Color.Primary" Class="cursor-pointer" @onclick="OpenEditCharacterDialog" Icon="@Icons.Material.Filled.Edit" />
		<MudIcon Color="Color.Primary" Class="cursor-pointer" @onclick="OpenDeleteDialog" Icon="@Icons.Material.Filled.Close" />
	</h1>
	<MudText Typo="Typo.h5">Minifigures Featured In: </MudText>
	<MudGrid>
		@foreach (var mf in @Character.Minifigures)
		{
			<MudItem xs="2">
				<MinifigureCard Minifigure="mf" />
			</MudItem>
		}
	</MudGrid>
	<MudText Typo="Typo.h5">Sets Featured In: </MudText>
	<MudGrid>
	@foreach(var set in Sets)
	{
		<MudItem>
			<SetCard Set="set" />
		</MudItem>
	}
	</MudGrid>
}

@code {

	[Parameter]
	public int? Id { get; set; }
	public Character Character { get; set; } = null!;
	public HashSet<Set> Sets { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		if(Id is not null)
		{
			var res = await CharacterService.GetCharacterAsync(Id.Value);
			if (res is not null)
			{
				Character = res;
				var setList = await SetService.GetSetList();

				foreach (var mf in Character.Minifigures)
				{
					Sets.UnionWith(setList.Where(s => s.Minifigures.Contains(mf)).ToHashSet());
				}
			}
		}
	}

	public async Task OpenDeleteDialog()
	{
		var options = new DialogOptions { CloseOnEscapeKey = true };
		var parameters = new DialogParameters<ConfirmDialog>
		{
			{ x => x.ContentText, $"Do you really want to delete {Character.Name}? This process cannot be undone." },
			{ x => x.ButtonText, "Delete" },
			{ x => x.Color, Color.Error },
		};

		var dialog = await DialogService.ShowAsync<ConfirmDialog>("Confirm Deletion", parameters, options);
		var result = await dialog.Result;

		if (result is not null && !result.Canceled)
		{
			await CharacterService.DeleteCharacter(Character);
			Character = new();
			Navigation.NavigateTo("/characters");
		}
	}

	public async Task OpenEditCharacterDialog()
	{
		var options = new DialogOptions { CloseOnEscapeKey = true };
		var parameters = new DialogParameters<EditCharacterDialog>
		{
			{x => x.Character, Character}
		};

		var dialog = await DialogService.ShowAsync<EditCharacterDialog>("Edit Character Dialog", parameters, options);
		var result = await dialog.Result;

		if (result is not null && !result.Canceled)
		{
			Navigation.NavigateTo(Navigation.Uri, true);
		}
	}
}
