@page "/characters/{Id:int}"
@inject CharacterService CharacterService
@inject SetService SetService

@if(Character is null)
{
	<h1>Character Not Found</h1>

}
else
{
	<h1>@Character.Name</h1>
	<MudText>Minifigures Featured In: </MudText>
	<MudGrid>
		@foreach (var mf in @Character.Minifigures)
		{
			<MudItem xs="2">
				<MinifigureCard Minifigure="mf" />
			</MudItem>
		}
	</MudGrid>
	<MudText>Sets Featured In: </MudText>
	<MudGrid>
	@foreach(var set in Sets)
	{
		<MudItem>
			<SetCard Set="set" />
		</MudItem>
	}
	</MudGrid>
}

@code {

	[Parameter]
	public int? Id { get; set; }
	public Character Character { get; set; } = null!;
	public HashSet<Set> Sets { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		var res = await CharacterService.GetCharacterAsync((int)Id);

		if(res is not null)
		{
			Character = res;
			var setList = await SetService.GetSetList();

			foreach(var mf in Character.Minifigures)
			{
				Sets.UnionWith(setList.Where(s => s.Minifigures.Contains(mf)).ToHashSet());
			}

		}
	}



}
