@page "/edit-character"
@inject CharacterService CharacterService
@inject NavigationManager Navigation
<h3>EditCharacter</h3>
<MudPaper class="pa-5 my-2" Outlined Width="80%">
	<MudItem Class="my-3">
		<MudInputLabel>Character Name</MudInputLabel>
		<MudTextField @bind-Value="CurrentCharacter.Name" Variant="Variant.Text" />
	</MudItem>

	<MudButton Color="Color.Primary" OnClick="SaveCharacter" Class="my-3">Save Character</MudButton>

</MudPaper>
@code {

	public Character CurrentCharacter { get; set; } = new();

	public async Task SaveCharacter()
	{
		await CharacterService.AddCharacter(CurrentCharacter);
		Navigation.NavigateTo("/characters");
	}

}
